[data-theme=light] body {
    background-color: whitesmoke !important;
}

[data-theme=dark] .button {
    background: #1b1c1d !important;
}

.header__inner {
    width: 960px !important;
}

pre[class*="language-"] {
    border-radius: 0 !important;
    border: thin #1b1c1d !important;
    box-shadow: none !important;
}

pre {
    background-color: #2d2d2d !important;
}

code[class*="language-"], pre[class*="language-"] {
    font-size: 0.9em !important;
}

/*.logo__cursor {
    background: #6d66e0 !important;
}*/

img.circle {
    border-radius: 0 !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.content {
    display: inline !important;
}

.post {
    max-width: 1000px !important;
}

.posts {
    max-width: 1000px !important;
}

.button__text {
    font-size: 0.9em !important;
}

.button a {
    padding: 2px 8px 2px 10px !important;
}
