pre[class*="language-"] {
    border-radius: 0 !important;
    border: thin #1b1c1d !important;
    box-shadow: none !important;
}

pre {
    background-color: #2d2d2d !important;
}

code[class*="language-"], pre[class*="language-"] {
    font-size: 0.9em !important;
}

.logo__cursor {
    background: #6d66e0 !important;
}

img.circle {
    border-radius: 0 !important;
    margin-top: 6%;
    margin-bottom: 6% !important;
}

.content {
    display: inline !important;
}
